<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                      http://maven.apache.org/xsd/settings-1.0.0.xsd">

    <activeProfiles>
        <activeProfile>edgenettfs</activeProfile>
    </activeProfiles>

    <profiles>
        <profile>
            <id>edgenettfs</id>
            <repositories>
                <repository>
                    <id>dp.internal</id>
                    <url>https://edgenettfs.pkgs.visualstudio.com/DataPlatform/_packaging/dp.internal/maven/v1</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </repository>
                <repository>
                    <id>dp.sdk</id>
                    <url>https://edgenettfs.pkgs.visualstudio.com/DataPlatform/_packaging/dp.sdk/maven/v1</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </repository>
                <repository>
                    <id>dp.thirdparty</id>
                    <url>https://edgenettfs.pkgs.visualstudio.com/DataPlatform/_packaging/dp.thirdparty/maven/v1</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                </repository>
            </repositories>
        </profile>
    </profiles>

    <servers>
        <server>
            <id>dp.sdk</id>
            <username>edgenettfs</username>
            <password>${env.EDS_BUILD_TOKEN}</password>
        </server>
        <server>
            <id>dp.thirdparty</id>
            <username>edgenettfs</username>
            <password>${env.EDS_BUILD_TOKEN}</password>
        </server>
        <server>
            <id>dp.internal</id>
            <username>edgenettfs</username>
            <password>${env.EDS_BUILD_TOKEN}</password>
        </server>
    </servers>
</settings>